.logo-text{
    fill: rgb(255, 255, 255);
    transition: fill 400ms ease-in-out;
}
.logo-swipe{
    stroke: rgb(255, 255, 255);
    fill: none;
    transition: stroke 400ms ease-in-out, fill 400ms ease-in-out;
}

