.hero{
    background-image: url(../../assets/img/hero-img/index-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3c373770;
    background-blend-mode: darken;
    min-height: 45vh;
    padding: 150px 0 40px 0 ;
    color: $primary;
    p{
        color: #fff;
    }
}

.hero-subtitle{
    font-family: $font-family-handwriting;
    font-size: 2rem;
   
}


.hero-container{
    height: 100%;
    border-radius: $border-radius;
    width: 90%;
    margin: 0 auto;

}

@media (min-width:$md){
   .hero-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 350px;

   }
   .hero-text{
    width: 100%;
    align-self: flex-start;
}
}

@media(min-width:$lg){
    .hero-container{
        max-width: 1200px;
    }
    .hero-text{
        flex-grow: 0.5;
    }
}